.container-top{
    padding:15px;
}

.logo h1 {
    font-size: 1.5em;
}

.cabecalho-menu{
    
}

.cabecalho-menu ul {
    list-style: none;
    font-size: 1.1em;
    
}

.cabecalho-menu ul li {
    float: left;
    padding: 0px 15px;
}

.cabecalho-menu ul li a{
    color:#000;
    text-decoration: none;
}

.cabecalho-menu ul li a:hover{
    color:blue;
}

.menu{
    float: right;
}

.social a{
    float: left;
    padding-left:15px;
    color:#000;
    font-size: 1.4em;
    text-decoration: none;
}

/* Início Slide */

.slide {
    background-image: url("../img/banner-top.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.conteudo-slide{
    padding:100px 0;
    text-align: center;
    color: #fff;
    
}

.conteudo-slide h2{
    font-size: 2.5em;
    padding-bottom: 20px
}

.conteudo-slide p{
    font-size: 1.5em;
    padding-bottom: 20px
}

.conteudo-slide i{
    font-size: 15px
}

.btn-saiba-mais{
    background-color:#FF6347;
    border: 0;
    padding:10px 15px;
    color:#fff;
}




/*https://www.leonardomagalhaes.com.br/*/
