.cabecalho-menu{
    background-color:#FFF;
}

.menu-top{
    background:#FFF;
}

nav h1{
    font-size: 1.5em;
    padding-top: 12px;
    text-align: center;
}

.cabecalho-menu ul {
    list-style: none;
    font-size: 1.2em;
    padding:0;
    margin:0;
}

.cabecalho-menu ul li {
    float: left;
    padding:12px 0;
}

.cabecalho-menu ul li a{
    color:#000;
    text-decoration: none;
    font-weight: 500;
    padding:15px;
    transition: 0.2s;
    font-size:1.2em;
}

.cabecalho-menu ul li a:hover{
    color:#fff;
    background-color:#000;
}

.menu{
    float: right;
}

.social i{
    font-weight: 400;
}

.social a{
    float: left;
    padding-right:20px;
    color:#000;
    font-size: 1.5em;
    text-decoration: none;
}

.facebook{
    color:#3f5d9a;
    margin-left:10px; 
}

.whatsapp{
    color:#1ebea5;
}

.instagram{
    color:#d23594;
}

/* Início Slide */

.tamanho-slide{
    height: 500px;
}

#banner-00{
    background: url("../img/slide-banner-0.jpg");
    background-size: cover!important;
	background-position: center center!important;
}

#banner-01{
    background: url("../img/slide-banner-1.jpeg");
    background-size: cover!important;
	background-position: center center!important;
}

#banner-02{
    background: url("../img/slide-banner-2.jpg");
    background-size: cover!important;
	background-position: center center!important;
}

.slide-conteudo-00{
    text-align: center;
    color:#FFF;
}

.slide-conteudo-00 h2{
    font-size: 2.5em;
    padding-top:150px;
    padding-bottom:15px;
    font-weight: 400;
    
}

.slide-conteudo-00 p{
    font-size:1.6em;
    padding: 10px 0 40px 0;
    font-weight: 100;
}

.slide-conteudo-01{
    padding:150px 200px;
    color:#FFF;
}

.slide-conteudo-01 h2{
    font-size: 2.5em;
    padding-bottom:15px;
    font-weight: 400;
    
}

.slide-conteudo-01 p{
    font-size:1.6em;
    padding: 10px 0 40px 0;
    font-weight: 100;
}

.slide-conteudo-02{
    padding:150px 200px;
    color:#FFF;
}

.slide-conteudo-02 h2{
    font-size: 2.5em;
    padding-bottom:15px;
    font-weight: 400;
    
}

.slide-conteudo-02 p{
    font-size:1.6em;
    padding: 10px 0 40px 0;
    font-weight: 100;
}


.btn-saiba-mais{
    background-color:#000;
    padding: 10px 15px;
    opacity: 0.9;
    border:0;
}

.btn-saiba-mais i{
    font-size: 12px;
}

.btn-saiba-mais{
    font-size:1.2em;
    color:#fff; 
    font-weight: 400;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.btn-saiba-mais:hover{
    text-decoration: none;
    background: #fff;
    color:#000;
}

/*Inicio Section*/
.section-servico {
    padding: 30px 15px;
}

.section-servico h3{
    
    font-size: 1.5em;
    padding: 15px 0 0 0;
}

.section-servico p{
    font-size:1.2em;
}

.section-servico i{
    border-radius: 50%;
    padding:15px;
    font-size:3em;
    color:#fff;
    background-color:darkcyan; 
}

/*
.section-icon-00{
    background-color:#FF6347; 
}

.section-icon-01{
    background-color:#FF6347; 
}

.section-icon-02{
    background-color:#FF6347; 
}

.section-icon-03{
    background-color:ama; 
}
*/

/* Section sobre */
.section-sobre {
    padding:90px 0;
    background-color:#000;
    color:#fff;
}

.section-sobre h3{
    font-weight: 200;
}

.section-sobre h4{
    padding-top: 40px;
    font-weight: 300;
}

.section-sobre h5{
    padding-bottom: 40px;
    font-weight: 400;
}

.section-sobre p{
    font-weight: 200;
    font-size:1.2em;
}

.section-sobre img {
    width: 280px;
}

/*Section Portfolio*/

.section-portfolio {
background-color:#FF7F50;    
}

.section-portfolio h3{
    text-align: center;
    font-weight:500;
    padding:30px 0;
}

.section-portfolio{
    padding:40px 50px;   
}

.section-portfolio article{
    text-align: center;
    padding-bottom: 30px;
}

.section-portfolio i{
    background-color: #000;
    padding: 20px 60px;
    font-size:15em;
    color:#FFF;
}

.section-portfolio a:hover{
    background-color:black;
    opacity: 0.5;
    transition: 0.5s;
}

address{
    background-color:#3CB371;
    padding:120px;
    margin:0;
}

address h3{
    padding-bottom: 15px;
    font-size:2em;
}

address p{
    font-size:1.1em;
}

.btn-enviar {
    padding: 10px 30px;
    background-color:#000;
    border-radius: 4px;
    color:#fff;
    border:0;
}

.btn-enviar:hover{
    text-decoration: none;
    background: #696969;
    color:#fff;
    transition:0.3s;
}

/* Footer */
footer{
    padding:30px;
    background-color:#000 ;
}

footer h3{
    font-size:1em;
    color:#fff;
    font-weight: 300;
}

/*https://www.leonardomagalhaes.com.br/*/
/*Animação scroll https://www.youtube.com/watch?v=FoRd0m2drkg*/
